  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-justify nav-pills">
      <li routerLinkActive="active">
        <a class="text-info" routerLink="/sales">Sales</a>
      </li>
      <li routerLinkActive="active">
        <a class="text-info" routerLink="/shoppingcart">Shopping Cart</a>
      </li>
      <li  routerLinkActive="active">
        <a class="text-info" routerLink="/payment">Payment</a>
      </li>
      <li routerLinkActive="active">
        <a class="text-info" routerLink="/confirmation">Confirmation</a>
      </li>
    </ul>
    </div>
  </nav>
  
  <main>
    <router-outlet></router-outlet>
  </main>
